html {
  background-color: antiquewhite;
}

body {
  text-align: center;
  font-size: 18px;
}

h1 {
  font-size: 50px;
}

img {
  height: 100%;
}

div {
  border: 2px solid burlywood;
  margin: 10px;
}

#introPic {
  width: 50%;
  height: 50%;
}

#about-me {
list-style-type: none;
text-align: left;
}

#about-me>li {
  padding: 2px;
}

#pro {
  width: auto;
}

p, ul {
  text-align: left;
  padding: 0 15%;
}

#Stuff {
  text-align: center;
}

#proCareer > img {
  max-width: 500px;
}

img {
  margin: 20px auto;
}
